---
import IconCollection from '../IconCollection/IconCollection.astro';
const { title, description, views, pubTime, href } = Astro.props;

const formatViewCount = (view) => {
  if (views >= 1000) {
    return `${(views / 1000).toFixed(1)}K`;
  }
  return views;
};

// Function to format the post time
const formatPostTime = (time) => {
  if (pubTime >= 60) {
    const hours = (pubTime / 60).toFixed(2);
    return `${hours} h`;
  }
  return `${pubTime} min`;
};
---

<div class="relative max-w-full md:max-w-[48%] lg:max-w-[420px] w-full  rounded-3xl group overflow-hidden">
  <div class="relative p-1 group cursor-pointer max-w-full md:max-w-[320px] lg:max-w-[420px] w-full">
    <span class="absolute top-0 right-0 left-0 bottom-0 group-hover:bg-gradient-to-r from-lime-400 to-blue-700 z-[2] rounded-3xl"></span>
    <div class="rounded-3xl bg-black z-[3] opacity-100 relative">
      <div class="w-full relative z-[3] px-6 md:px-5 lg:px-8 py-6 md:py-9 bg-white/5 rounded-3xl backdrop-blur-[44px] group-hover:backdrop-blur-0 group flex-col justify-start items-start gap-7 inline-flex group transition-all duration-300 hover:bg-blue-500/10 hover:shadow-lg">
        <div class="self-stretch grow shrink basis-0 flex-col justify-start items-start gap-5 flex">
          <div class="self-stretch text-white text-2xl font-semibold font-craftworkGrotesk leading-7">
            {title}
          </div>
          <div class="self-stretch text-white/90 text-lg font-normal font-generalSans leading-[27px] line-clamp-3">
            {description}
          </div>
        </div>
        <div class="self-stretch justify-between items-center inline-flex">
          <div class="justify-start items-start md:items-center gap-2 md:gap-2   flex flex-col md:flex-row">
            <div class="flex items-center gap-2">
              <IconCollection icon="eyeIcon" className="h-6 w-6" />
              <div class="text-white text-lg md:text-base lg:text-lg font-medium font-generalSans leading-[27px]">
                {formatViewCount(views)}
              </div>
            </div>
            <div class="flex items-center gap-2">
              <IconCollection icon="clockIcon" className="h-6 w-6" />
              <div class="text-white text-lg md:text-base lg:text-lg font-medium font-generalSans leading-[27px]">
                {formatPostTime(pubTime)}
              </div>
            </div>
          </div>
          <div class="justify-start items-center gap-3 flex">
            <div class="px-3 md:px-3 lg:px-5 py-3 bg-indigo-950 group-hover:bg-blue-800 rounded-[20px] justify-start items-center gap-2.5 flex">
              <a href={href} class="text-white/90 text-lg md:text-xs lg:text-lg font-light font-generalSans leading-[18px]">
                Read full article
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
